{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Преобразование списка ИТД{% endblock %}
{% block page_content %}
<form class="form form-horizontal" style="margin-left: 4%" method="post" role="form" autocomplete="off">
  {{ wtf.form_field(form.res) }}
  {{ wtf.form_field(form.col) }}
  {{ wtf.form_field(form.submit) }}
</form>
{% if not col %}
<div style="margin-top: 2%; margin-left: 3%">
	<font color="Silver">Для получения cписка ИТД, пригодного для скачивания через программу getEA, вставьте из реестра поле с номерами сканирования.</font></p>
</div>
{% endif %}
{% if res and col %}
<div style="margin-top: 2%">
	<ul> 
		{% for ITD in l %} 
			<li style="list-style: none;">{{ITD}}</li> 
		{% endfor %} 
	</ul>
</div>
{% endif %}
{% endblock %}
